@model WhatToDo.Models.ToDo

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet">

<div id="toDoTableDiv"></div>

<div id="todoCreateForm">
    @using (Ajax.BeginForm("AJAXCreate", "ToDoes",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "toDoTableDiv",
            OnSuccess = "OnSuccess"
        }, new { autocomplete = "off" }))
    {
        <div class="form-group my-3 bg-body rounded shadow-sm">
            @Html.AntiForgeryToken()
            <div>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter a new to do item" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BuildToDoTable.js"></script>
    <script>function OnSuccess() { this.reset(); }</script>
    @Scripts.Render("~/bundles/jqueryval")
}
