@model IEnumerable<WhatToDo.Models.RecommendedHabit>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AimedDayCount)
            </td>
            <td>
                @Html.ActionLink("Add", "FollowRecomendation", new { id = item.Id })
            </td>
        </tr>
    }
